<div class="admin-event-list">
  <h1>Manage Events</h1>
  <div *ngIf="events.length === 0">
    <p>No events available to manage.</p>
  </div>
  <div class="event-grid">
    <div class="event-card" *ngFor="let event of events">
      <img class="event-img" [src]="event.eventImage" alt="Event Image" />
      <div class="event-details">
        <h3>{{ event.name }}</h3>
        <p><strong>Location:</strong> {{ event.location }}</p>
      </div>
      <button class="btn btn-danger" (click)="onDeleteEvent(event.eventId)">
        Delete Event
      </button>
    </div>
  </div>
  <pre></pre>
  <pre></pre>
</div>
