/* Define dark theme */
.dark-theme {
    --background-color: #121212;
    --text-color: white;
    --link-color: #bb86fc;
}



body{
    margin: 0px;
    font-family: Roboto,sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}